@import "./variables.scss";

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color_white;
}

h1
{
    font-size: 45px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 18px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

@import "./welcomeSection.scss";
@import "./skillsSection.scss";
@import "./projects.scss";
@import "./aboutMe.scss";
@import "./contactSection.scss";