$color_gold : #D7B377;
$color_white: #FAFAFA;
$color_blue_ligth: #385F71;
$color_blue_dark: #2B4162;

$font_header_1: 'Jura', sans-serif;
$font_button: 'Sarabun', sans-serif;
$font_content_1: 'Podkova', serif;
$font_content_2: 'Catamaran', sans-serif;

@mixin button($width, $heigth, $fontSize) {
    width: $width;
    height: $heigth;
    box-sizing: border-box;
    font-size: $fontSize;
    font-family: $font_content_2;
    outline: none;
    cursor: pointer;
    border: 1px solid $color_gold;
    margin: 10px 10px;
    text-transform: uppercase;
    &.full
    {
        background-color: $color_gold;
        color: $color_white;
    }
    &.bordered
    {
        background: transparent;
        color: black;
    }
    &:hover
    {
        opacity: 0.8;
    }
}

@mixin sectionHeader($marginBottom) {
    font-family: $font_header_1;
    color: $color_gold;
    font-size: 24px;
    margin-bottom: $marginBottom;
    text-align: center;
    
}