.welcomeSection
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 90px;
    position: relative;
    .left
    {
        width: 70%;
        h1
        {
            color: $color_gold;
            margin-bottom: 20px;
            font-weight: 400;
            width: 100%;
            font-family: $font_header_1;
        }
        h2
        {
            font-weight: 400;
            width: 100%;
            font-family: $font_content_1;
        }
        .buttonWrapper
        {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 50px;
            font-family: $font_button;
            button
            {
                @include button(130px, 50px, 12px);
            }
        }
    }
    .rigth
    {
        width: 30%;
    }
}

@media screen and (max-width: 650px)
{
    .rigth
    {
       display: none;
    }

    .welcomeSection .left
    {
        width: 100%;
        h1
        {
            font-size: 36px;
        }
        .buttonWrapper
        {
            width: 100%;
        }
    }
}

@media screen and (max-width: 340px)
{
    .welcomeSection 
    {
        padding-bottom: 20px;
        .buttonWrapper
        {
            justify-content: space-around;
            button
            {
                margin: 0;
            }
        }
        
    }
}
